

<nav>
  <div class="container">
    <ul class="nav">

      <li class="<%= path === '/' ? 'active' : ''%>">
        <a href="/"> Home</a>
      </li>

      <li>
        <a href="/"> About us</a>
      </li>
      <li>
        <a href="/"> Episodes</a>
      </li>
    </ul>
  </div>
</nav>